<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <title>Bhansa Admin Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/customer.css' %}" />
    

    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    {% include 'adminlayout.html'%}
    {% block content %}{% endblock %}
    <section class="home-section">
      <div class="text">Customers</div>
      <div class="home-content">
        

        <div class="sales-boxes">
          <div class="recent-sales box">
            <div class="title">Bhansa's Customer's List</div>
            <div class="sales-details">
              <table>
                <thead>
                  <th>ID</th>
                  <th>Username</th>
                  <th>Email</th>
                </thead>

                <tbody>
                  {% for customer in customers %}
                  <tr>
                    <td>{{customer.id}}</td>
                    <td>{{customer.username}}</td>
                    <td>{{customer.email}}</td>
                    <td>
                      <a
                        href="deleteuser/{{customer.id}}"
                        class="delete-btn"
                        onclick="return confirm('are your sure you want to delete this?');"
                      >
                        <i class="fas fa-trash"></i> delete
                      </a>
                      <a href="#" class="option-btn">
                        <i class="fas fa-edit"></i> update
                      </a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="script.js"></script>
  </body>
</html>
