<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <title>Bhansa Admin Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/messages.css' %}" />

    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    {% include 'adminlayout.html'%}
    {% block content %}{% endblock %}
    <section class="home-section">
      <div class="text">Customer's Inquiries</div>
      <div class="home-content">
  
        <div class="sales-boxes">
          <div class="recent-sales box">
            <div class="title">Customers Inquiries</div>
            <div class="sales-details">
              <table>
                <thead>
                  <th>No.</th>
                  <th>Customer's Name</th>
                  <th>Email</th>
                  <th>Number</th>
                  <th>Subject</th>
                  <th>Message</th>
                </thead>

                <tbody>
                  {% for message in messages %}
                  <tr>
                    <td>{{message.contact_id}}</td>
                    <td>{{message.name}}</td>
                    <td>{{message.email}}</td>
                    <td>{{message.number}}</td>
                    <td>{{message.subject}}</td>
                    <td>{{message.message}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
